<ng-template #nodeTemplateRef let-node>
  <li [class.root]="!node.parentId" *ngIf="node.visible">
    <i style="cursor: pointer;font-size:1.2em"
       [class.icon-folder-empty]="!node.expanded"
       [class.icon-folder-open-empty]="node.expanded"
       *ngIf="node.visible && node.children && node.children.length> 0"
       (click)="node.expanded = !node.expanded"></i>
    <input
      *ngIf="node.visible && node.selectable"
      type="checkbox"
      style="vertical-align: text-bottom;margin-right: 5px;margin-left: 4px;"
      [checked]="node.selected" (change)="onSelection(node)">
    <span [ngClass]="selectedTreeNode === node ? 'node-name-selected' : 'node-name'" (click)="selectNode(node)">{{ node.name }}</span>
    <ul *ngIf="node.children && node.children.length> 0 && node.expanded">
      <ng-template
        ngFor
        [ngForOf]="node.children"
        [ngForTemplate]="nodeTemplateRef">
      </ng-template>
    </ul>
  </li>
</ng-template>
<div class="tree-container" [style.height]="height">
  <ul class="tree" *ngIf="dataSource" style="margin-top: 15px" #treeElement>
    <ng-template
      [ngTemplateOutlet]="nodeTemplateRef"
      [ngTemplateOutletContext]="{ $implicit: dataSource }">
    </ng-template>
  </ul>
</div>

